  <div class="content-subdiv-title" id="specifications">SPECIFICATIONS</div>
        <div class="content-subdiv-hr"></div>
        <!-- CAROUSEL - 2>>>>>> -->
        <div class="modal-carousel-div home-carousel">
            <div id="carouselExampleCaptions" class="carousel slide carousel-slide">
                <div class="carousel-indicators indicators-1">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">

                  <!-- *******CAR-ITEM******* -->
                  <div class="carousel-item active">
                    <div class="car-div car-div-1">  

                                <div class="car-title-div">AUTOMATED CONTROL</div>
                                <div class="desc-div">
                                    The system can automatically adjust environmental factors based on predefined parameters and desired plant growth conditions. For example, if the temperature exceeds a certain threshold, the system can activate cooling mechanisms to maintain optimal conditions.
                                </div>

                                <img class= "car-img" src="./assets/automated-control.jpg" alt="">
                    </div>
                  </div>
                  <!-- *******CAR-ITEM******* -->
                  
                  <!-- *******CAR-ITEM******* -->
                  <div class="carousel-item">
                    <div class="car-div car-div-1">

                                <div class="car-title-div">REAL-TIME MONITORING</div>
                                <div class="desc-div">
                                    Sensors placed throughout the greenhouse can collect data on environmental conditions and plant health. This information is then transmitted to a central software platform, allowing users to monitor conditions in real time and make informed decisions.
                                </div>
                                <img src="./assets/Greenhouse-Sensor-Systems.png" alt="" class="car-img">

                    </div>
                  </div>
                  <!-- *******CAR-ITEM******* -->

                  <!-- *******CAR-ITEM******* -->
                  <div class="carousel-item">
                    <div class="car-div car-div-1">

                      
                           
                                <div class="car-title-div">RESOURCE OPTIMIZATION</div>
                                <div class="desc-div">
                                    By monitoring and analyzing data on resource usage, such as water and energy consumption, the system can help optimize resource allocation and reduce waste. This leads to cost savings and more sustainable operations.
                                 </div>
                                 <img src="./assets/resource-optimazation.jpg" alt="" class="car-img">

                        
                    </div>
                  </div>
                  <!-- *******CAR-ITEM******* -->

                   <!-- *******CAR-ITEM******* -->
                   <div class="carousel-item">
                    <div class="car-div car-div-1">

                  
                            <div class="car-content-sample">
                                <div class="car-title-div">REMOTE ACCESS AND CONTROL</div>
                                <div class="desc-div">
                                    A greenhouse management system can provide remote access and control capabilities, allowing users to monitor and manage their greenhouse operations from anywhere. This enables greater flexibility and reduces the need for physical presence on-site.
                                </div>
                            </div>
                            <img src="./assets/smart-greenhouse.png" alt="" class="car-img">
                   
                        
                    </div>
                  </div>
                  <!-- *******CAR-ITEM******* -->
                  
                </div>
                <button class="carousel-control-prev button-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next button-4" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        CAROUSEL - 2<<<<<<