* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  scroll-behavior: smooth;
}

i {
  color: white;
}

a {
  text-decoration: none;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px white;
  background-color: #78c2ad;
}

.top-logo {
  width: 30px;
  height: 30px;
}

.navbar {
  width: 100%;
}

.navbar-1 {
  width: 100%;
  height: 40px;
  position: sticky;
  top: 0;
  background: #78C2AD;
  z-index: 1000;
  display: flex;
  padding: 0 10px 0 0;
  justify-content: space-between;
}

.navbar-1-subdiv {
  height: 40px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-1-subdiv i {
  font-size: 25px;
  color: #065A05;
  cursor: pointer;
}
.navbar-1-subdiv i:hover {
  color: white;
}

.right-menu-div i {
  margin: 0 10px;
}

.navbar-2 {
  padding: 0;
  width: 100%;
  height: 40px;
  position: sticky;
  top: 40;
  z-index: 1000;
  background: white;
  border-bottom: 1px solid #78c2ad;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  display: none;
}

.header-div {
  width: 100%;
  min-height: calc(100vh - 40px);
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(120, 194, 173, 0.8)), url(./assets/greenhouse-cover.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  animation: coveranimate 2s ease-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes coveranimate {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.content-div-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.main-header-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveInLeft 1s ease-out;
}

.main-header-logo {
  width: 100%;
  max-width: 500px;
  user-select: none;
}

.main-header-tag {
  font-size: 10px;
  font-weight: 700;
  color: #065A05;
  letter-spacing: 1px;
  cursor: context-menu;
  user-select: none;
  animation: moveInRight 1s ease-out;
}

@media only screen and (min-width: 400px) {
  .main-header-tag {
    font-size: 12px;
    color: #065A05;
  }
}
@media only screen and (min-width: 520px) {
  .main-header-tag {
    font-size: 19px;
    color: #065A05;
  }
}
.btn {
  text-decoration: none;
  border: none;
}
.btn:hover {
  transform: translateY(-3px);
}
.btn:active {
  transform: translateY(-1px);
}

.our-services-btn,
.our-services-btn:active {
  text-transform: uppercase;
  border-radius: 100px;
  padding: 10px 30px;
  margin: 20px 0 0 0;
  font-size: 9px;
  background: #004518;
  color: white;
  font-weight: 700;
  letter-spacing: 4px;
  transition: all 0.2s;
  animation: moveInBottom 0.7s ease-out;
}
.our-services-btn:hover,
.our-services-btn:active:hover {
  background: #004518;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 69, 24, 0.7);
}
.our-services-btn:active,
.our-services-btn:active:active {
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px #004518;
}

@media only screen and (min-width: 400px) {
  .our-services-btn {
    font-size: 13px;
    padding: 10px 30px;
    margin: 10px 0 0 0;
  }
}
@media only screen and (min-width: 520px) {
  .our-services-btn {
    font-size: 14px;
  }
}
.content-div {
  min-height: 1000px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 0 60px;
}

.jumbotron-div-1 {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 69, 24, 0.2);
}
.jumbotron-div-1 video {
  width: 100%;
  border-bottom: 5px solid #02AA0A;
}

@media only screen and (min-width: 501px) {
  .jumbotron-div-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .jumbotron-div-1 video {
    max-width: 800px;
  }
}
.content-subdiv {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
}

.content-subdiv-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #004518;
  font-weight: 400;
}

.content-subdiv-hr {
  width: 60%;
  height: 3px;
  margin: 0 auto 30px auto;
  border-top: 1px solid #065A05;
}

.content-subdiv-minihr {
  width: 30%;
  height: 3px;
  margin: 10px auto 20px auto;
  border-top: 1px solid #065A05;
}

.content-subdiv-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  margin: 20px auto;
}

.content-subdiv-media,
.content-subdiv-desc {
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-subdiv-media {
  padding: 10px;
}
.content-subdiv-media video {
  width: 100%;
}

.content-subdiv-desc {
  background: rgba(120, 194, 173, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-subdiv-1-title {
  font-size: 25px;
  color: #02AA0A;
  font-weight: 600;
  padding: 20px;
  text-align: center;
}

.content-subdiv-1-desc {
  font-size: 10px;
  color: black;
  padding: 0 10px 20px 10px;
  text-align: center;
}

@media only screen and (min-width: 400px) {
  .content-subdiv-1-desc {
    font-size: 13px;
  }
}
@media only screen and (min-width: 520px) {
  .content-subdiv-1-desc {
    font-size: 16px;
  }
}
@media only screen and (min-width: 800px) {
  .content-subdiv-1 {
    display: flex;
    flex-direction: row;
  }
}
.content-how-div {
  width: 200px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-how-subdiv-1 {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-how-subdiv-1 img {
  width: 100%;
}

.content-how-subdiv-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #065A05;
  font-weight: 700;
}

@media only screen and (min-width: 401px) {
  .content-how-subdiv-2 {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (min-width: 401px) {
  .content-how-div {
    width: 400px;
    height: 200px;
    flex-direction: row;
  }
}
.prototype-div {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  top: -100vh;
  left: 0;
  z-index: 1009;
  background: rgba(120, 194, 173, 0.7);
}

@keyframes openPrototypeDiv {
  0% {
    top: -100vh;
  }
  100% {
    top: 0;
  }
}
.open-prototype-div {
  display: flex;
  flex-direction: column;
  animation-name: openPrototypeDiv;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.hide-prototype-btn-open {
  opacity: 0;
}

@keyframes closePrototypeDiv {
  0% {
    top: 0;
  }
  100% {
    top: -100vh;
  }
}
.close-prototype-div {
  animation-name: closePrototypeDiv;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.hide-prototype-btn-close {
  opacity: 0;
}

.prototype-navbar-div {
  height: 40px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 60px 0 0;
}
.prototype-navbar-div i {
  font-size: 25px;
  color: #065A05;
  cursor: pointer;
}
.prototype-navbar-div i:hover {
  color: white;
}

.prototype-content-div {
  height: calc(100vh - 50px);
  width: calc(100% - 10px);
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
  background: white;
  border-radius: 15px;
  border: 1px solid black;
}

.prototype-iframe {
  width: 100%;
  height: calc(100% - 0px);
}

.mainmenu-div {
  width: 100%;
  max-width: 278px;
  max-height: 280px;
  position: fixed;
  top: 40px;
  right: -100vw;
  display: flex;
  flex-direction: column;
  z-index: 1020;
  background: white;
  border-left: 1px solid #78C2AD;
  border-bottom: 1px solid #78C2AD;
  overflow: auto;
  direction: rtl;
}
.mainmenu-div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
}
.mainmenu-div::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
.mainmenu-div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px white;
  background-color: #78c2ad;
}

@media only screen and (max-height: 279px) {
  .mainmenu-div {
    height: 100vh;
    padding-bottom: 30px;
  }
}
.mainmenu-navbar-div {
  width: 100%;
  max-width: 278px;
  height: 40px;
  padding: 0 22px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  direction: ltr;
  background: #78C2AD;
  z-index: 1020;
}
.mainmenu-navbar-div i {
  font-size: 25px;
  color: #065A05;
  cursor: pointer;
}
.mainmenu-navbar-div i:hover {
  color: white;
}

.mainmenu-content-div {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 0 0 10px 0;
}

@keyframes openMainmenuDiv {
  0% {
    top: 0;
  }
  100% {
    right: 0;
  }
}
.open-mainmenu-div {
  display: flex;
  flex-direction: column;
  animation-name: openMainmenuDiv;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hide-mainmenu-btn-open {
  opacity: 0;
}

@keyframes closeMainmenuDiv {
  0% {
    right: 0;
  }
  100% {
    right: -500;
  }
}
.close-mainmenu-div {
  animation-name: closeMainmenuDiv;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.hide-mainmenu-btn-close {
  opacity: 0;
}

.mainmenu-bullet-div,
.mainmenu-dropdown-title {
  direction: ltr;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 15px 5px 10px;
  border-radius: 0 0 0 10px;
  font-family: monospace;
  color: #004518;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.mainmenu-bullet-div:hover,
.mainmenu-dropdown-title:hover {
  background: rgba(120, 194, 173, 0.5);
}
.mainmenu-bullet-div i,
.mainmenu-dropdown-title i {
  margin: 0 10px 0 0;
  font-size: 22px;
  color: #004518;
}

.mainmenu-dropdown {
  width: 100%;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px 0 0 0;
}
.mainmenu-dropdown .mainmenu-bullet-div {
  width: calc(100% - 10px);
  padding: 5px 20px 5px 15px;
  font-size: 14px;
  color: #065A05;
}

.mainmenu-dropdown-icon {
  position: absolute;
  right: 10;
}

.show-dropdown {
  height: 100%;
}
.show-dropdown .mainmenu-dropdown-icon {
  transform: rotate(180deg);
}

.mainmenu-dropdown-title {
  position: absolute;
  top: 0;
  left: 0;
}

.dropdown-btn {
  justify-content: space-between;
}

.main-intro {
  font-size: 16px;
  color: #004518;
  margin: 10px;
  text-align: center;
}

.highlight-2 {
  color: red;
}

.highlight-3 {
  color: #56B74A;
}

.font-weight-700 {
  font-weight: 700;
}

.services-cards-div {
  width: 100%;
  max-width: 1000px;
  background: rgba(0, 69, 24, 0.2);
  margin: 0 auto 30px auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.services-card-div {
  width: 250px;
  height: 250px;
  opacity: 0.85;
  margin: 5px auto 55px auto;
  background: white;
  border-radius: 20px 20px 0 0;
  position: relative;
}
.services-card-div:hover {
  cursor: pointer;
  opacity: 1;
}
.services-card-div:hover i {
  font-size: 175px;
}
.services-card-div:hover img {
  width: 105%;
}

@media only screen and (min-width: 540px) {
  .services-cards-div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 780px) {
  .services-cards-div {
    grid-template-columns: repeat(3, 1fr);
  }
}
.services-card-image-div {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.services-card-image-div img {
  width: 100%;
}

.services-card-logo-div {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 25px;
  left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-card-logo-div i {
  font-size: 150px;
  color: #78C2AD;
}

.services-card-title-div {
  height: 70px;
  width: 200px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: -35px;
  left: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #004518;
}

.modal-div {
  width: 100vw;
  height: calc(100vh - 40px);
  position: fixed;
  top: 40px;
  left: 0;
  background: rgba(120, 194, 173, 0.7);
  z-index: 1005;
  display: none;
}

.modal-content-div {
  height: calc(100vh - 40px);
  width: 100%;
  max-width: 700px;
  background: white;
  padding: 35px 0 0 0;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-content-div .modal-close-btn {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 5px;
  right: 15px;
}
.modal-content-div .modal-close-btn:hover {
  color: black;
  cursor: pointer;
}

.modal-iframe {
  width: 100%;
  height: calc(100vh - 35px);
  border-top: 2px solid #78C2AD;
}

.showmodal {
  display: flex;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* Hide scrollbar for IE, Edge and Firefox */
.hidescrollbar {
  overflow: hidden;
}

.modal-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-carousel-div {
  width: 100%;
  padding: 0 30px;
  background: #004518;
}

.button-1, .button-2 {
  width: 30px;
  max-height: 500px;
  position: fixed;
  top: 0;
}

.indicators {
  position: absolute;
  bottom: -10px;
}

.car-content-div {
  width: 100%;
  height: 1000px;
}

.home-carousel {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  max-height: 500px;
  margin: auto;
  margin: 0 auto 20px auto;
}

.carousel-slide {
  position: relative;
  height: 100vh;
  max-height: 500px;
}

.indicators-1 {
  position: absolute;
  bottom: -10px;
}

.button-3, .button-4 {
  height: 100vh;
  max-height: 500px;
  width: 30px;
  position: absolute;
}

.button-3 {
  left: -30px;
}

.button-4 {
  right: -30px;
}

#contact {
  font-family: "Nova Mono", monospace;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.main-contact-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
}

.contact-div {
  width: 100%;
  margin: 5px 0;
}

.contact-div-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-cover-div {
  width: 90%;
  max-width: 777px;
  margin: 0 auto 45px auto;
  position: relative;
  background: rgba(144, 197, 197, 0.3);
  border: 5px solid #66b9b9;
  border-radius: 25px;
}
.contact-cover-div img {
  width: 100%;
}

.contact-profile-pic-div {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-profile-pic img {
  height: 100%;
}

.contact-profile-name-div, .contact-profile-position-div {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-profile-name {
  font-size: 23px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #004518;
  text-align: center;
}

.contact-profile-position {
  font-size: 10px;
  letter-spacing: 1px;
  text-align: center;
  color: #004518;
}

@media only screen and (min-width: 501px) {
  .contact-profile-name {
    font-size: 30px;
  }
  .contact-profile-position {
    font-size: 17px;
  }
}
.contact-resume-div {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-resume-div a {
  width: 10%;
  padding: 2px;
}
.contact-resume-div a img {
  width: 100%;
  margin: 5px;
}
.contact-resume-div a:hover {
  width: 12%;
}
.contact-resume-div p {
  font-size: 22px;
  font-weight: 600;
  color: rgba(255, 0, 0, 0.7);
}

.contact-div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-social-div {
  width: 90%;
  margin: 10px auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-social-link {
  width: 20%;
  max-width: 45px;
  margin: 0 5%;
  display: inline-block;
}
.contact-social-link img {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
}

.contact-info-div {
  width: 90%;
  height: 30px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: mono;
  font-size: 12px;
  color: #065A05;
}
.contact-info-div i {
  font-size: 20px;
  color: #78C2AD;
  margin: 0 10px;
}

@media only screen and (min-width: 501px) {
  .contact-info-div {
    font-size: 17px;
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.val-maindiv {
  width: 100%;
  max-width: 800px;
  min-height: 400px;
  margin: 0 auto;
  padding: 10px 0;
  border: 1px solid #78C2AD;
}

.val-logo-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
}
.val-logo-div img {
  width: 80%;
  max-width: 200px;
  margin: auto;
}

.val-description-div {
  width: 90%;
  max-width: 800px;
  margin: auto;
  color: #004518;
  font-size: 14px;
}
.val-description-div .desc-1 {
  font-weight: 700;
}

.val-header-div {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
}

.val-header-row {
  display: flex;
  flex-direction: column;
}

.val-header-title {
  height: 30px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  padding: 0 0 0 10px;
  color: #004518;
  border: 1px solid #004518;
}

.val-header-answer {
  width: 100%;
  border: 1px solid #004518;
}

.val-remarks-div {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
}

.val-remarks-name {
  color: #004518;
  font-weight: 700;
}

.val-remarks-answer {
  width: 100%;
  max-width: 800px;
  min-height: 50px;
  margin: 0 auto;
  border: 1px solid #065A05;
}

.val-table {
  width: 90%;
  max-width: 800px;
  min-height: 400px;
  margin: 0 auto;
  border: 1px solid #78C2AD;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
}

.valrow-title {
  font-weight: 700;
  font-size: 18px;
  color: #004518;
  margin: 20px 0 0 0;
}

.val-desc-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.val-desc-item {
  font-size: 16px;
  color: #065A05;
  font-weight: 400;
  display: block;
}

.val-row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.val-row-1 {
  min-height: 70px;
  border: 1px solid #004518;
}

.valrow-data {
  line-height: 16px;
  font-size: 14px;
  color: black;
}

.data-text {
  display: inline-block;
  margin: 10px 0 0 15px;
}

.val-ratediv {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.val-item {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}

.val-row-botdiv {
  display: flex;
  flex-direction: row;
}

.val-row-subdiv {
  width: 20%;
  height: 30px;
  border: 1px solid #004518;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: context-menu;
  user-select: none;
}

.val-row-subdiv-3 {
  cursor: pointer;
  margin: 0 0 5px 0;
}

.valrow-data-box {
  display: flex;
  align-items: center;
  display: none;
}

@media only screen and (min-width: 600px) {
  .val-header-row {
    flex-direction: row;
  }
  .val-header-title {
    width: 120px;
  }
  .val-header-answer {
    width: calc(100% - 120px);
  }
  .valrow-data-box {
    display: flex;
    height: 30px;
    width: 100%;
    border-bottom: 2px solid rgba(0, 69, 24, 0.3);
    padding: 0 0 0 10px;
    font-weight: 700;
    font-size: 18px;
    color: #004518;
  }
  .val-item {
    flex-direction: row;
    width: 100%;
  }
  .val-row-1 {
    width: 60%;
    padding: 0 0 5px 0;
  }
  .val-ratediv {
    width: 40%;
    display: grid;
    grid-template-rows: 30px auto;
  }
  .val-row-subdiv-3 {
    height: auto;
    margin: 0;
  }
  .val-desc-div {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .val-desc-item {
    font-size: 13px;
    margin: 0 10px 0 0;
  }
}
@media only screen and (min-width: 800px) {
  .val-desc-div {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .val-desc-item {
    font-size: 16px;
    margin: 0 20px 0 0;
  }
}
.about-div {
  width: 90%;
  max-width: 800px;
  margin: auto;
  color: #004518;
  font-size: 16px;
  text-align: center;
}

.about-problem {
  text-align: center;
}

.about-solution {
  font-weight: 700;
  text-align: center;
}

.car-div {
  width: calc(100% - 50px);
  height: 100vh;
  max-height: 500px;
  margin: 0 auto;
  color: white;
  overflow: auto;
  overflow-x: hidden;
  padding: 20px 0 30px 0;
  border-left: 2px solid white;
}
.car-div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
}
.car-div::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
.car-div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px white;
  background-color: #78c2ad;
}
.car-div::-webkit-scrollbar {
  width: 4px !important;
}

.car-title-div {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.desc-div {
  width: 90%;
  margin: 20px auto 10px auto;
  padding: 0 10px;
  font-size: 16px;
  text-align: center;
}

.car-img {
  width: 90%;
  display: block;
  margin: 10px auto;
  background: white;
}

.car-vid {
  width: 90%;
  display: block;
  margin: 10px auto;
  background: white;
}

.spec-div {
  max-width: 800px;
  color: #004518;
  margin: 0 auto 20px auto;
  background: rgba(2, 170, 10, 0.2);
  border-bottom: 2px solid #004518;
  border-left: 2px solid #004518;
  border-radius: 0 0 0 25px;
}

/*# sourceMappingURL=index.css.map */
