.maingh-div{
    min-height: 50vh;
    width: 100%;
    max-width: 800px;

    display: flex;
    flex-direction: column;

    margin: 0;
}


.maingh-title-div{
    width: 100%;
    height: 30px;

    margin: 20px 0;
    font-size: 20px;

    position: relative;
    @include flex-center;
    color: $green-5;
    user-select: none;
}
.maingh-back-btn{
    width:  30px;
    height: 30px;

    @include flex-center;
    position: absolute;
    top:   0;
    left: 20;
    cursor: pointer;
    i{
        color: $green-5;
    }
}

.maingh-media-div{
    width: 100%;
    max-width: 800px;

    margin: 20px auto 10px auto;
    background: white;

    // border-radius: 20px;
    overflow: hidden;
    img{
        width: 100%;
    }
}

.maingh-settings-div{
    width: 100%;
    max-width: 800px;

   

    display: flex;

    padding: 0 10px;
    margin: auto;
}

.maingh-settings-cont{
    width: 250px;
    padding: 10px 0;
}
.maingh-settings-feed{
    width: calc(100% - 250px);
    padding: 0 0 10px 0;
    // background: rgba($green-1, 0.3);
}
.maingh-settings-subdiv{
    width:     230px;
    margin:  5px auto 0 auto;
    padding: 10px 10px 5px 10px;
    border: 2px solid white;
    background: rgba($green-2, 0.9);

    display: flex;
    flex-direction: column;
    // background: rgba($green-1, 1);
}

@media only screen and ( max-width: 600px){
    .maingh-settings-div{
        flex-direction: column;
    }
    .maingh-settings-cont{
        width: 100%;
    }
    .maingh-settings-subdiv{
        width: 100%;
    }
    .maingh-settings-feed{
        width: 100%;
    }
}



.maingh-settings-subdiv-1{
    width: 100%;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    i{
        font-size: 20px;
    }
    .setting-toggle{
        cursor: pointer;
        font-size: 10px;
        opacity: 0.8;

        &:hover{
            opacity: 1;
        }
    }
}

.maingh-settings-subdiv-2{
    margin: 5px 0 0 0;
    font-size: 18px;
    cursor:default;
    color: white;

    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 0;
}

.maingh-settings-subdiv-3{
    display: inline-flex;
    justify-content: flex-end;
    // margin: 10px 0;
    i{
        font-size: 25px;
        cursor: pointer;
    }
}






// <<<<<<<<<<<<<<<<<< MODALS >>>>>>>>>>>>>>>>>>>

.gh-modal-div{
    width:  100vw;
    height: 100vh;

    background: rgba(white, 0.5);

    position: fixed;
    top:  0;
    left: 0;

    z-index: 1005;

    @include flex-center;

    display: none;
}

.gh-modal{
    width:  250px;
    height: 100vh;
    max-height: 400px;

    display: flex;
    flex-direction: column;
    padding: 10px 0 30px 0;

    background: white;
    @include green-scrollbar;
    overflow:auto;

    border: 3px solid $green-4;
}

.view-modal{
    display: flex;
}











