.gh-modal-div{
    width:  100vw;
    height: 100vh;

    background: rgba(white, 0.5);

    position: fixed;
    top:  0;
    left: 0;

    z-index: 1005;

    @include flex-center;

    display: none;
}

.gh-modal{
    width:  250px;
    height: 100vh;
    max-height: 400px;

    display: flex;
    flex-direction: column;
    padding: 10px 0 30px 0;

    background: white;
    @include green-scrollbar;
    overflow:auto;
}

.view-modal{
    display: flex;
}

.gh-modal-subdiv-1{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px 0 0 0;
    padding: 0 20px;
    
}

.subdiv-1-1{
    display: flex;
    align-items: center;
    font-size: 20px;
    i{
        font-size: 22px;
        margin: 0 10px;
        color: $green-4;
    }
    .setting-toggle{
        font-size: 30px;
    }
}


.gh-modal-subdiv-2{
    width:  140px;
    height: 140px;

    margin: 10px auto 0 auto;

    @include flex-center;

    background: rgba(rgba(23, 54, 155), 0.4);
    border-radius: 50%;
}

.gh-modal-circle{
    width:  120px;
    height: 120px;

    margin: auto;

    @include flex-center;
    flex-direction: column;
    background: rgba(rgba(23, 54, 155), 1);
    border-radius: 50%;
}
.circle-amount{
    font-size: 25px;
    color: white;
    font-weight: 700;
}

.gh-modal-subdiv-3{
    width:  80%;
    height: 5px;
    margin: 20px auto 10px auto;

    background: rgba($green-3, 0.2);
}



.gh-modal-meter{
    width: 59%;
    height: 5px;
    background: rgba($green-4, 0.5);
    position:relative;
}

.gh-modal-meter-dot{
    width:  15px;
    height: 15px;
    border-radius: 50%;

    cursor:pointer;
    position: absolute;
    top:   -5;
    right: -5;
    background: rgba($green-1, 1);
}

.gh-modal-subdiv-4{
    width: 90%;
    min-height: 50px;
    margin: 10px auto;

    @include flex-center;
    justify-content: space-between;
}
.gh-modal-subdiv-4-mini{
    width: 30%;
    min-height: 80px;

    
    @include flex-center;
    flex-direction: column;

    padding: 10px 0 0 0;
}
.subdiv-4-icon{
   i{
    font-size: 20px;
    color: $green-5;
   }
}
#gh1-color{
    color: rgba(23, 54, 155, 1);
}
.subdiv-4-text{
    font-size: 12px;
    margin: 5px 0 0 0;
    font-weight: 400;
    color: $green-5;

    text-align: center;
}
.subdiv-4-text-2{
    font-size: 10px;
    margin: 5px 0;
    text-align: center;
}


// GREEENHOUSE-1
.greenhouse-video{
    width: 100%;
}

//Feeeed

.maingh-settings-feed{

}
.feed-subdiv{
    margin: 0 0 5px 0;
}
.feed-title{
    color: grey;
    font-family: monospace;
}
.feed-text{
    color: $green-5;
    font-size: 15px;
    font-weight: 700;
}


@media only screen and (min-width: 400px){
    .feed-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}

.feed-progress{
    height: 20px;
    width: 100%;

    position:relative;
    border: 2px solid $green-5;
    border-radius: 0 20px 20px 0;
}
.feed-progress-inner{
    height: 16px;
    width: 71%;

    background: rgba($green-2, 0.7);
}
.feed-progress-div{
    height: 16px;
    width: 50px;
    @include flex-center;
    position: absolute;
    top: 0;
    left: calc(50% - 50px);
}
.feed-progress-text{
    color: $green-5;
    font-weight: 700;
    font-size: 14px;
}

.feed-4-1{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0;
    
    i{
        color: $green-5;
        font-size: 18px;
        cursor: pointer;
    }
}

.feed-5{
    height: 150px;
    width: 100%;
    border: 1px solid $green-4;
    padding: 10px 5px;
    color: $green-5;

    @include green-scrollbar;
    direction: ltr; 
    overflow:auto;
}

.feed-5-dash{
    font-size: 18px;
    font-weight: 700;
}


