.log-item-div{
    width: 100%;
    min-height: 60px;
    
    display: flex;
    flex-direction: column;
    cursor:context-menu;
    margin: 0 0 5px 0;
    border-top: 1px solid $green-5;
    &:hover{
        background: rgba($green-1, 0.5);
    }
  }

  .log-item-desc{
    width: 100%;
    max-height: 60px;
    font-size: 13px;
    padding: 0 5px 5px 5px;

    overflow: hidden;
    color: $green-4;
    line-height: 17px;
    span{font-weight: 700; font-size: 14px;}
  }
  .log-item-date{
    width: 100%;
    padding: 0 0 0 7px;
    color: $green-4;
    position: relative;
    i{  
        color: $green-4;
        font-size: 15px;
        position: absolute;
        top: 3px;
        right: 12px;
    }
  }

  .log-color{
    height: 14px;
    width: 17px;
    
    display:inline-block;
    transform: translateY(2px);
  }
  .color-1{
    background: $green-5;    
  }

.color-2{
    background: $blue-1;
}

.log-cool{
    color:cadetblue;
}
.log-hot{
    color: orange;
}


