.notif-div{
    width: 100%;
    max-width: 278px;
    height: 100vh;
    max-height: calc(100vh - 40px);


    position: fixed;
    top:   0;
    right: -100vw;

    display: flex;
    flex-direction: column;
    padding: 40px 0 0 0;

    z-index: 1002;

    background: rgba($green-1, 1);
  }
  

  @keyframes openNotifDiv {
    0%   {top: 0;}
    100% {right: 0;}
  }
  .open-notif-div {
    display: flex;
    flex-direction: column;
    animation-name: openNotifDiv;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  .hide-notif-btn-open{
    opacity: 0;
  }

  @keyframes closeNotifDiv {
    0%   {right:      0;}
    100% {right: -500;}
  }
  
  .close-notif-div{
    animation-name: closeNotifDiv;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
  }
  .hide-notif-btn-close{
    opacity: 0;
  }

  .notif-navbar-div{
    width: 100%;
    height: 40px;

    padding: 0 22px 0;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: absolute;
    top:  0;
    left: 0;

   
    i{
        font-size: 25px;
        color: $green-4;
        cursor: pointer;
        &:hover{
            color: white;
        }
    }
    
  }
  .notif-content-div{
    width: 100%;
    height: 100vh;
    max-height: calc(100vh - 40px);
    // height: calc(100vh - 40px);

    background: white;
    border-left: 1px solid $green-1;
    border-bottom: 1px solid $green-1;

    display: flex;
    flex-direction: column;

    @include green-scrollbar;
    direction: rtl;   
    overflow:auto;
  }

  .notif-item-div{
    width: 100%;
    min-height: 60px;

    padding: 10px;
    display: flex;
    border-radius: 10px;
    &:hover{
        background: rgba($green-2, 0.3);
    }
    direction:ltr;
  }

  .notif-item-left{
    width:  60px;
    height: 60px;

    // background: yellow;
  }
  .notif-item-name{
    width:  50px;
    height: 50px;

    margin: 0 auto;
    background: $green-2;
    border-radius: 50%;
    padding: 7px 0 0 7px;
    position: relative;

    font-size: 20px;
    color: $green-4;
    letter-spacing: 2px;
  }

  .notif-gh1{
    background-image:
        linear-gradient(
        to right bottom,
         rgba(white,0.5),
         rgba($green-1, 0.5)),
         url(../assets/gh-1.jpg);
 
    background-size: cover;
    background-position: top;
  }
  .notif-gh2{
    background-image:
        linear-gradient(
        to right bottom,
         rgba(white,0.5),
         rgba($green-1, 0.5)),
         url(../assets/gh-2.jpg);
 
    background-size: cover;
    background-position: top;
  }
  .notif-gh3{
    background-image:
        linear-gradient(
        to right bottom,
         rgba(white,0.5),
         rgba($green-3, 0.5)),
         url(../assets/gh-3.jpg);
 
    background-size: cover;
    background-position: top;
  }
  .notif-gh4{
    background-image:
        linear-gradient(
        to right bottom,
         rgba(white,0.5),
         rgba($green-4, 0.5)),
         url(../assets/gh-4.jpg);
 
    background-size: cover;
    background-position: top;
  }


  .notif-item-tag{

    width:  25px;
    height: 25px;

    border-radius: 50%;
    position: absolute;

    bottom: -3px;
    right:  -3px;

    background: $green-1;
    @include flex-center;
    padding: 0 0 0 2px;
    i{
        font-size: 15px;
    }

  }

  .notif-item-right{
    width: calc(100% - 60px);
    min-height: 60px;
    max-height: 90px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .notif-item-desc{
    width: 100%;
    min-height: 30px;
    max-height: 60px;
    font-size: 13px;
    padding: 0 5px 5px 5px;

    overflow: hidden;
    color: $green-4;
    line-height: 15px;
    span{font-weight: 700; font-size: 14px;}
  }
  .notif-item-date{
    width: 100%;
    height: 15px;
    padding: 7px;
    color: $green-4;
  }

  .notif-item-empty{
    border: 1px solid $green-5;
    @include flex-center;
  }

  .end-notif-div{
    width: 50%;
    margin: 0 auto;

    border-top: 2px solid $green-5;
    @include flex-center;

    font-size: 16px;
    font-weight: 700;
    color: $green-5;
  }
