
.profile-maindiv{
    width: 100%;
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 600px){
    .profile-maindiv{
        flex-direction: column;
    }
}

.profile-subdiv{
    width: 100%;
    max-width: 300px;
    height:fit-content;

    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid $green-5;

    margin: 30px auto 20px auto;
    padding: 20px 10px;
}
.profile-box-title{
    height: 30px;
    padding: 0 10px;  
    @include flex-center;

    background: white;
    position: absolute;
    top: -15px;
    left: 20px;

    font-size: 20px;
}
.profile-box-edit{

    padding: 5px;
    background: white;

    @include flex-center;


    position:absolute;
    top:   -15px;
    right:  15px;
    i{
        font-size: 18px;
        color: $green-5;
        cursor:pointer;
    }
}

.profile-box-add{

    padding: 5px;
    background: white;

    @include flex-center;


    position:absolute;
    top:   -15px;
    right:  60px;
    i{
        font-size: 18px;
        color: $green-5;
        cursor:pointer;
    }
}

.profile-header{

}
.profile-data{
    color: $green-5;
    font-size: 14px;
    font-weight: 400;

    margin: 0 0 5px 0;
}
.profile-header-acc{
    
}
.profile-data-acc{
    color: red;
    font-size: 16px;
    font-weight: 700;
}

.profile-data-gh{
    color: $green-4;
    font-size: 16px;
    margin: 0 0 0 15px;
}

