.gh-switch{
    width:  45px;
    height: 20px;

    border-radius: 15px;
    border: 2px solid white;
    background: white;

    position: relative;

    cursor: pointer;
}

.gh-switch-circle{
    width:  10px;
    height: 10px;

    border-radius: 50%;
    background: $green-3;
    
    position: absolute;
    top: 3px;
    left: 27px;
}


.maingh-settings-off{
    background: white;
    border: 2px solid $green-4;
    .maingh-settings-subdiv-2{
        color: $green-5;
    }
    i{ color: $green-5;}

    .gh-switch{
        background: $green-5;
        border: 2px solid $green-5;}
    .gh-switch-circle{background: white; left: 5px; }
}

// .gh1-logs-subdiv{
//     background: $green-5;
// }