.verify-page{
    width:  100vw;
    height: 100vh;
    
    position: fixed;
    top:  0;
    left: 0;

    @include flex-center;
    background: rgba(white, 0.5);
    display: none;
}

.verify-message-div{
    width: 90vw;
    max-width: 300px;
    // height: 100px;

    
    @include flex-center;
    flex-direction: column;

    background: $green-5;
    border: 2px solid white;
    text-align: center;
}
.verify-message{
    color: white;
    font-size: 20px;
    font-weight: 700;

    margin: 10px auto;
    line-height: 22px;
}

.verify-buttons-div{
    width: 100%;
    height: 40px;

    @include flex-center;
}
.verify-button{
    height: 30px;
    width:  80px;
    padding: 10px;
    @include flex-center;

    
    margin: 0 10px;

    background: $green-5;
    color: white;

    border: 2px solid white;
    border-radius: 10px;

    font-size: 16px;
    font-weight: 700;

   
    cursor: pointer;

    &:hover{
        background: white;
        color: $green-5;
    }
}


.verify-page-1{ 
    z-index:2021;
    // background: red;
}

.verify-page-2{
    z-index:2022;
    // background: green;
}   

.verify-page-3{
    z-index:2023;
    background: blue;
}

.show-verify{
    display: flex;
}
