@import 'variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;

    scroll-behavior: smooth;
}

i{
    color: white;
}

a{
    text-decoration: none;
}


body{
    display: flex;
    flex-direction: column;
    position: relative;

    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px white;
    }

    &::-webkit-scrollbar
    {
        width: 10px;
        background-color:white;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px white;
        background-color: rgba($green-1, 1);
    }
}

.navbar{
    width: 100%;
    
}

.navbar-1{
    width:  100%;
    height: 40px;
    position: sticky;
    top: 0;
    background: $green-1;
    z-index: 1000;
    display: flex;
    padding: 0 10px 0 0;
    justify-content: space-between;

}


.navbar-1-subdiv{
    height: 40px;
    min-width: 60px;

    // margin: 0 10px;
    @include flex-center;
    

    i{
        font-size: 25px;
        color: $green-4;
        cursor: pointer;
        &:hover{
            color: white;
        }
    }
}


.right-menu-div{
    i{
        margin: 0 10px;
    }
}


.navbar-2{
    padding: 0;
    width:  100%;
    height: 40px;
    position: sticky;
    top: 40;
    z-index: 1000;
    background: white;
    border-bottom: 1px solid rgba($green-1, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    display: none;
}


.content-div{
    
    min-height: 1000px;
    width:100%;
    max-width: 1200px;

    margin: auto;
    padding: 0 0 60px;
}

.content-div-header{
    @include flex-center;
    flex-direction: column;
    margin: 50px;
}
.main-header-div{
    width: 100%;
    @include flex-center;
}
.main-header-logo{
    width: 100%;
    max-width: 400px;
}
.main-header-tag{
    font-size: 11px;
    color: $green-4;
}
@media only screen and (min-width: 400px){
    .main-header-tag{
        font-size: 14px;
        color: $green-4;
    }
}

@media only screen and (min-width: 520px){
    .main-header-tag{
        font-size: 17px;
        color: $green-4;
    }
}

.jumbotron-div-1{
    width: 100%;
    margin: auto;
    @include flex-center;
    video{
        width: 100%;
        border-bottom: 5px solid $green-3;
    }
background: rgba($green-5, 0.2);
}

@media only screen and (min-width:501px){
    .jumbotron-div-1{
        width: 100%;
        @include flex-center;
        video{
            max-width: 800px;
        }
    }
}

.content-subdiv{
    display: flex;
    flex-direction: column;

    margin: 20px 0 0 0;
}

.content-subdiv-title{
    @include flex-center;
    font-size: 30px;
    color: $green-5;
    font-weight: 400;
}

.content-subdiv-hr{
    width:60%;
    height: 3px;

    margin: 0 auto 30px auto; 
    border-top: 1px solid $green-4;
}

.content-subdiv-minihr{
    width:30%;
    height: 3px;

    margin: 10px auto 20px auto; 
    border-top: 1px solid $green-4;
}

.content-subdiv-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    display: flex;

    margin: 20px auto;
}
.content-subdiv-media,
.content-subdiv-desc{
    width: 100%;
    max-width:  600px;
    min-height: 100px;
    margin: 0 auto;
    @include flex-center;
    flex-direction: column;
}



.content-subdiv-media{
    padding: 10px;
    video{
        width: 100%;
    }
}

.content-subdiv-desc{
    background:rgba($green-1, 0.4);
    @include flex-center;
    flex-direction: column;
}
.content-subdiv-1-title{
    font-size: 25px;
    color: $green-3;
    font-weight: 600;
    padding: 20px;

    text-align: center;
}
.content-subdiv-1-desc{
    font-size: 10px;
    color: black;
    padding: 0 10px 20px 10px;

    text-align: center;
}

@media only screen and (min-width: 400px){
    .content-subdiv-1-desc{
        font-size: 13px;
    }
}

@media only screen and (min-width: 520px){
    .content-subdiv-1-desc{
        font-size: 16px;
    }
}



@media only screen and (min-width: 800px){
    .content-subdiv-1{
        display: flex;
        flex-direction: row;
    }
}




// *MODALS*


.prototype-div{
    width: 100%;
    height: 100vh;

    position: fixed;
    
    top: 0;
    top:  -100vh;
    left: 0;

    z-index: 1002;
    background: rgba($green-1, 0.7);

    // display: none;
}

  @keyframes openPrototypeDiv {
    0%   {top: -100vh;}
    100% {top: 0;}
  }
  .open-prototype-div {
    display: flex;
    flex-direction: column;
    animation-name: openPrototypeDiv;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  .hide-prototype-btn-open{
    opacity: 0;
  }

  @keyframes closePrototypeDiv {
    0%   {top:      0;}
    100% {top: -100vh;}
  }
  
  .close-prototype-div{
    animation-name: closePrototypeDiv;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  .hide-prototype-btn-close{
    opacity: 0;
  }


  .prototype-navbar-div{
    height: 40px;
    width: 100%;

    margin: 0 auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0 60px 0 0;
  
    i{
        font-size: 25px;
        color: $green-4;
        cursor: pointer;
        &:hover{
            color: white;
        }
    }
  }
  .prototype-content-div{
    height: calc(100vh - 50px);
    width: calc(100% - 10px);
    max-width: 800px;

    margin: 0 auto;
    padding: 30px 0;

    background: white;
    border-radius: 15px;
    border: 1px solid rgba(black, 1);
  }
  .prototype-iframe{
    width: 100%;
    height: calc(100% - 0px);
  }

  .mainmenu-div{
    width: 100%;
    max-width: 278px;
    min-height: 300px;

    position: fixed;
    top:   0;
    right: -100vw;

    display: flex;
    flex-direction: column;

    z-index: 1002;

    background: rgba($green-1, 1);
  }

  .mainmenu-navbar-div{
    width: 100%;
    height: 40px;

    padding: 0 22px 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background: red;
    i{
        font-size: 25px;
        color: $green-4;
        cursor: pointer;
        &:hover{
            color: white;
        }
    }
    
  }
  .mainmenu-content-div{
    width: 100%;
    min-height: 300px;
    // height: calc(100vh - 40px);

    background: white;
    border-left: 1px solid $green-1;
    border-bottom: 1px solid $green-1;
    display: flex;
    flex-direction: column;


    @include green-scrollbar;
    direction: rtl;   
    overflow-y: scroll;

    padding: 0 0 10px 0;
  }
  

  @keyframes openMainmenuDiv {
    0%   {top: 0;}
    100% {right: 0;}
  }
  .open-mainmenu-div {
    display: flex;
    flex-direction: column;
    animation-name: openMainmenuDiv;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  .hide-mainmenu-btn-open{
    opacity: 0;
  }

  @keyframes closeMainmenuDiv {
    0%   {right:      0;}
    100% {right: -500;}
  }
  
  .close-mainmenu-div{
    animation-name: closeMainmenuDiv;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
  }
  .hide-mainmenu-btn-close{
    opacity: 0;
  }

 

  

  .mainmenu-bullet-div,
  .mainmenu-dropdown-title{
    direction:ltr;
    height: 40px;
    width:100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 5px 15px 5px 10px;
    border-radius: 0 0 0 10px;
    font-family: monospace;
    color: $green-5;
    font-weight:600;
    font-size: 16px;
    cursor: pointer;
    &:hover{
        background: rgba($green-1, 0.5);
    }
    i{
        margin: 0 10px 0 0;
        font-size: 22px;
        color: $green-5;
    }
  }



  .mainmenu-dropdown{
    width: 100%;
    height: 40px;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    position: relative;

    padding: 40px 0 0 0;
    // background: red;

    .mainmenu-bullet-div{
        width: calc(100% - 10px);
        padding: 5px 20px 5px 15px;
        font-size: 14px;
        color: $green-4;
    }
  }
  .mainmenu-dropdown-icon{
    position: absolute; 
    right: 10;
  }
  
  .show-dropdown{
    height: 100%;
    .mainmenu-dropdown-icon{
        transform: rotate(180deg);
    }
  }
  

  .mainmenu-dropdown-title{
    position: absolute;
    top:  0;
    left: 0;
  }

  .dropdown-btn{
    justify-content: space-between;
  }





  
   

  