@import 'variables.scss';
@import './styles/greenhouse.scss';
@import './styles/greenhouse-1.scss';
@import './styles/notif.scss';
@import './styles/logs.scss';
@import './styles/settings.scss';
@import './styles/profile.scss';
<<<<<<< HEAD
@import './styles/verification.scss';
=======
>>>>>>> 530deedcb61a32d7f2b9c545d2eee3fbf3e3d492
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;

    scroll-behavior: smooth;
}

i{
    color: white;
}

a{
    text-decoration: none;
}


body{
    display: flex;
    flex-direction: column;
    position: relative;

    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px white;
    }

    &::-webkit-scrollbar
    {
        width: 10px;
        background-color:white;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px white;
        background-color: rgba($green-1, 1);
    }

    // overflow: hidden;
}

.homelogo-div{
    img{
        width: 30px;
    }
}

.navbar-div{
    width: 100%;
    margin: auto;
}
.navbar-1{
    width:  100%;
    height: 40px;
    position: sticky;
    top: 0;
    background: $green-1;
    z-index: 1000;
    display: flex;
    padding: 0 10px 0 0;
    justify-content: space-between;
}

.navbar-1-subdiv{
    height: 40px;
    min-width: 60px;

    // margin: 0 10px;
    @include flex-center;
    

    i{
        font-size: 25px;
        color: $green-4;
        cursor: pointer;
        &:hover{
            color: white;
        }
    }
}


.right-menu-div{
    i{
        margin: 0 10px;
    }
}


.navbar-2{
    padding: 0;
    width:  100%;
    height: 40px;
    position: sticky;
    top: 40;
    z-index: 1000;
    background: white;
    border-bottom: 1px solid rgba($green-1, 1);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.hr{
    width: 50%;
    height: 2px;
    background: $green-1;
    margin: 10px auto;
}


.content-div{
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 0 0 40px 0;
}

.home-div-1{
    // background: url(./assets/) no-repeat center center;
    //     background-size: cover;

    @include flex-center;
    img{
        width: 100%;
        max-width: 390px;
        margin: auto;
    }
   
}

.greenhouse-div{

    width: 100%;
    max-width: 800px;
    // height: 

    display: flex;
    flex-wrap: wrap;


    margin: 10px auto;
}

.greenhouse-subdiv{
    width:   100%;
    width:  390px;
    height: 240px; 

    margin: 10px auto;

    display: flex;
    flex-direction: column;

    position: relative;

    border-bottom: 2px solid $green-1;
}

.gh-title-div{
    width: 150px;
    height: 30px;

    background: $green-3;
    color: white;
    
    position: absolute;
    top:  20px;
    left: 10px;

    @include flex-center;
    justify-content: flex-start;

    font-size: 18px;
    padding: 0 0 0 15px;

    border-radius: 15px;
    font-weight: 700;

    user-select: none;
}

.gh-media-div{
    width: 100%;
    max-width: 390px;

    overflow: hidden;
    cursor:  pointer;
}
.gh-media{
    width: 100%;
    max-width: 390px;;
}

.gh-tool-div{
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
}

.gh-tool-subdiv{
    height: 40px;
    width: 20%;

    @include flex-center;

    cursor: pointer;
    i{
        font-size: 20px;
        color: $green-5;
    }

    &:hover{

    }
}









// *MODALS*





.mainmenu-div{
    width: 100%;
    max-width: 278px;
    max-height: 280px;

    position: fixed;
    top:   40px;
    right: -100vw;

    display: flex;
    flex-direction: column;

    z-index: 1002;

    background: white;
    border-left: 1px solid $green-1;
    border-bottom: 1px solid $green-1;
    // background: rgba($green-1, 1);

    @include green-scrollbar;
    direction: rtl;   
    overflow:auto;

    
  }

  @media only screen and (max-height: 279px){
    .mainmenu-div{
        height: 100vh;
        padding-bottom: 30px;
    }
  }

  .mainmenu-navbar-div{
    width: 100%;
    max-width: 278px;
    height: 40px;

    padding: 0 22px 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    top: 0;

    direction: ltr;
    background: $green-1;
    z-index: 1005;
    i{
        font-size: 25px;
        color: $green-4;
        cursor: pointer;
        &:hover{
            color: white;
        }
    }
    
  }
  .mainmenu-content-div{
    width: 100%;
   
    // height: calc(100vh - 40px);

    background: white;
    display: flex;
    flex-direction: column;

    padding: 0 0 10px 0;
  }
  

  @keyframes openMainmenuDiv {
    0%   {top: 0;}
    100% {right: 0;}
  }
  .open-mainmenu-div {
    display: flex;
    flex-direction: column;
    animation-name: openMainmenuDiv;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  .hide-mainmenu-btn-open{
    opacity: 0;
  }

  @keyframes closeMainmenuDiv {
    0%   {right:      0;}
    100% {right: -500;}
  }
  
  .close-mainmenu-div{
    animation-name: closeMainmenuDiv;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
  }
  .hide-mainmenu-btn-close{
    opacity: 0;
  }

  

  .mainmenu-bullet-div,
  .mainmenu-dropdown-title{
    direction:ltr;
    height: 40px;
    width:100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 5px 15px 5px 10px;
    border-radius: 0 0 0 10px;
    font-family: monospace;
    color: $green-5;
    font-weight:600;
    font-size: 16px;
    cursor: pointer;
    &:hover{
        background: rgba($green-1, 0.5);
    }
    i{
        margin: 0 10px 0 0;
        font-size: 22px;
        color: $green-5;
    }
  }



  .mainmenu-dropdown{
    width: 100%;
    height: 40px;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    position: relative;

    padding: 40px 0 0 0;
    // background: red;

    .mainmenu-bullet-div{
        width: calc(100% - 10px);
        padding: 5px 20px 5px 15px;
        font-size: 14px;
        color: $green-4;
    }
  }
  .mainmenu-dropdown-icon{
    position: absolute; 
    right: 10;
  }
  
  .show-dropdown{
    height: 100%;
    .mainmenu-dropdown-icon{
        transform: rotate(180deg);
    }
  }
  

  .mainmenu-dropdown-title{
    position: absolute;
    top:  0;
    left: 0;
  }

  .dropdown-btn{
    justify-content: space-between;
  }


.login-page{
   height: 100vh;
   width:  100vw;

    position: fixed;
    top: 0;
    left: 0;
  
    
    @include flex-center;
    flex-direction: column;
    z-index: 1021;
    background: white;

    color: black;
    img{
      width: 50%;
      margin: auto;
    }
    // display: none;
}



.login-div{
  width: 80%;
  max-width: 400px;
  
  margin: 20px auto 0 auto;
  padding: 40px 0 0 0;

  border: 1px solid $green-3;
  @include flex-center;
  flex-direction: column;
  position: relative;
}

.login-img-div{
  width: 80%;
  max-width: 300px;
  margin: 20px auto;
  position: absolute;

  background: white;
  top: -50px;
  padding: 0 10px;
  img{
    width: 100%;

  }
}

.login-subdiv{
  
  height: 40px;
  width: 250px;

  margin: 5px 0 15px 0;
  position: relative;
}
.login-input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 5px 15px 10px 10px;

  border: 1px solid $green-2;
  color: $green-5;

  &:focus{
    outline: none;
    border: 3px solid $green-3;
    border-radius: 0 0 15px 0;
    color: $green-5;
  }
}

.login-label{
  font-size: 11px;
  background: white;
  padding: 0 5px;

  color: $green-2;
  position: absolute;
  bottom: -8px;
  left:   10px;
}

.login-btn{
  width: 100px;
  height: 20px;

  @include flex-center;
  margin: 10px auto 10px auto ;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  background: rgba($green-3, 0.8);
  &:hover{
    background: rgba($green-3, 1);
  }
}

.hide-login-page{
  display: none;
}


  
   

  