.maingh-div {
  min-height: 50vh;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.maingh-title-div {
  width: 100%;
  height: 30px;
  margin: 20px 0;
  font-size: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #004518;
  user-select: none;
}

.maingh-back-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 20;
  cursor: pointer;
}
.maingh-back-btn i {
  color: #004518;
}

.maingh-media-div {
  width: 100%;
  max-width: 800px;
  margin: 20px auto 10px auto;
  background: white;
  overflow: hidden;
}
.maingh-media-div img {
  width: 100%;
}

.maingh-settings-div {
  width: 100%;
  max-width: 800px;
  display: flex;
  padding: 0 10px;
  margin: auto;
}

.maingh-settings-cont {
  width: 250px;
  padding: 10px 0;
}

.maingh-settings-feed {
  width: calc(100% - 250px);
  padding: 0 0 10px 0;
}

.maingh-settings-subdiv {
  width: 230px;
  margin: 5px auto 0 auto;
  padding: 10px 10px 5px 10px;
  border: 2px solid white;
  background: rgba(86, 183, 74, 0.9);
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .maingh-settings-div {
    flex-direction: column;
  }
  .maingh-settings-cont {
    width: 100%;
  }
  .maingh-settings-subdiv {
    width: 100%;
  }
  .maingh-settings-feed {
    width: 100%;
  }
}
.maingh-settings-subdiv-1 {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.maingh-settings-subdiv-1 i {
  font-size: 20px;
}
.maingh-settings-subdiv-1 .setting-toggle {
  cursor: pointer;
  font-size: 10px;
  opacity: 0.8;
}
.maingh-settings-subdiv-1 .setting-toggle:hover {
  opacity: 1;
}

.maingh-settings-subdiv-2 {
  margin: 5px 0 0 0;
  font-size: 18px;
  cursor: default;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 0;
}

.maingh-settings-subdiv-3 {
  display: inline-flex;
  justify-content: flex-end;
}
.maingh-settings-subdiv-3 i {
  font-size: 25px;
  cursor: pointer;
}

.gh-modal-div {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1005;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.gh-modal {
  width: 250px;
  height: 100vh;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 10px 0 30px 0;
  background: white;
  overflow: auto;
  border: 3px solid #065A05;
}
.gh-modal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
}
.gh-modal::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
.gh-modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px white;
  background-color: #78c2ad;
}

.view-modal {
  display: flex;
}

.gh-modal-div {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1005;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.gh-modal {
  width: 250px;
  height: 100vh;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 10px 0 30px 0;
  background: white;
  overflow: auto;
}
.gh-modal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
}
.gh-modal::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
.gh-modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px white;
  background-color: #78c2ad;
}

.view-modal {
  display: flex;
}

.gh-modal-subdiv-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0 0;
  padding: 0 20px;
}

.subdiv-1-1 {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.subdiv-1-1 i {
  font-size: 22px;
  margin: 0 10px;
  color: #065A05;
}
.subdiv-1-1 .setting-toggle {
  font-size: 30px;
}

.gh-modal-subdiv-2 {
  width: 140px;
  height: 140px;
  margin: 10px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(23, 54, 155, 0.4);
  border-radius: 50%;
}

.gh-modal-circle {
  width: 120px;
  height: 120px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #17369b;
  border-radius: 50%;
}

.circle-amount {
  font-size: 25px;
  color: white;
  font-weight: 700;
}

.gh-modal-subdiv-3 {
  width: 80%;
  height: 5px;
  margin: 20px auto 10px auto;
  background: rgba(2, 170, 10, 0.2);
}

.gh-modal-meter {
  width: 59%;
  height: 5px;
  background: rgba(6, 90, 5, 0.5);
  position: relative;
}

.gh-modal-meter-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: -5;
  right: -5;
  background: #78c2ad;
}

.gh-modal-subdiv-4 {
  width: 90%;
  min-height: 50px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.gh-modal-subdiv-4-mini {
  width: 30%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0 0 0;
}

.subdiv-4-icon i {
  font-size: 20px;
  color: #004518;
}

#gh1-color {
  color: rgb(23, 54, 155);
}

.subdiv-4-text {
  font-size: 12px;
  margin: 5px 0 0 0;
  font-weight: 400;
  color: #004518;
  text-align: center;
}

.subdiv-4-text-2 {
  font-size: 10px;
  margin: 5px 0;
  text-align: center;
}

.greenhouse-video {
  width: 100%;
}

.feed-subdiv {
  margin: 0 0 5px 0;
}

.feed-title {
  color: grey;
  font-family: monospace;
}

.feed-text {
  color: #004518;
  font-size: 15px;
  font-weight: 700;
}

@media only screen and (min-width: 400px) {
  .feed-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.feed-progress {
  height: 20px;
  width: 100%;
  position: relative;
  border: 2px solid #004518;
  border-radius: 0 20px 20px 0;
}

.feed-progress-inner {
  height: 16px;
  width: 71%;
  background: rgba(86, 183, 74, 0.7);
}

.feed-progress-div {
  height: 16px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: calc(50% - 50px);
}

.feed-progress-text {
  color: #004518;
  font-weight: 700;
  font-size: 14px;
}

.feed-4-1 {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 0;
}
.feed-4-1 i {
  color: #004518;
  font-size: 18px;
  cursor: pointer;
}

.feed-5 {
  height: 150px;
  width: 100%;
  border: 1px solid #065A05;
  padding: 10px 5px;
  color: #004518;
  direction: ltr;
  overflow: auto;
}
.feed-5::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
}
.feed-5::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
.feed-5::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px white;
  background-color: #78c2ad;
}

.feed-5-dash {
  font-size: 18px;
  font-weight: 700;
}

.notif-div {
  width: 100%;
  max-width: 278px;
  height: 100vh;
  max-height: calc(100vh - 40px);
  position: fixed;
  top: 0;
  right: -100vw;
  display: flex;
  flex-direction: column;
  padding: 40px 0 0 0;
  z-index: 1002;
  background: #78c2ad;
}

@keyframes openNotifDiv {
  0% {
    top: 0;
  }
  100% {
    right: 0;
  }
}
.open-notif-div {
  display: flex;
  flex-direction: column;
  animation-name: openNotifDiv;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hide-notif-btn-open {
  opacity: 0;
}

@keyframes closeNotifDiv {
  0% {
    right: 0;
  }
  100% {
    right: -500;
  }
}
.close-notif-div {
  animation-name: closeNotifDiv;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.hide-notif-btn-close {
  opacity: 0;
}

.notif-navbar-div {
  width: 100%;
  height: 40px;
  padding: 0 22px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.notif-navbar-div i {
  font-size: 25px;
  color: #065A05;
  cursor: pointer;
}
.notif-navbar-div i:hover {
  color: white;
}

.notif-content-div {
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 40px);
  background: white;
  border-left: 1px solid #78C2AD;
  border-bottom: 1px solid #78C2AD;
  display: flex;
  flex-direction: column;
  direction: rtl;
  overflow: auto;
}
.notif-content-div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
}
.notif-content-div::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
.notif-content-div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px white;
  background-color: #78c2ad;
}

.notif-item-div {
  width: 100%;
  min-height: 60px;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  direction: ltr;
}
.notif-item-div:hover {
  background: rgba(86, 183, 74, 0.3);
}

.notif-item-left {
  width: 60px;
  height: 60px;
}

.notif-item-name {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: #56B74A;
  border-radius: 50%;
  padding: 7px 0 0 7px;
  position: relative;
  font-size: 20px;
  color: #065A05;
  letter-spacing: 2px;
}

.notif-gh1 {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(120, 194, 173, 0.5)), url(../assets/gh-1.jpg);
  background-size: cover;
  background-position: top;
}

.notif-gh2 {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(120, 194, 173, 0.5)), url(../assets/gh-2.jpg);
  background-size: cover;
  background-position: top;
}

.notif-gh3 {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(2, 170, 10, 0.5)), url(../assets/gh-3.jpg);
  background-size: cover;
  background-position: top;
}

.notif-gh4 {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(6, 90, 5, 0.5)), url(../assets/gh-4.jpg);
  background-size: cover;
  background-position: top;
}

.notif-item-tag {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  bottom: -3px;
  right: -3px;
  background: #78C2AD;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 2px;
}
.notif-item-tag i {
  font-size: 15px;
}

.notif-item-right {
  width: calc(100% - 60px);
  min-height: 60px;
  max-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notif-item-desc {
  width: 100%;
  min-height: 30px;
  max-height: 60px;
  font-size: 13px;
  padding: 0 5px 5px 5px;
  overflow: hidden;
  color: #065A05;
  line-height: 15px;
}
.notif-item-desc span {
  font-weight: 700;
  font-size: 14px;
}

.notif-item-date {
  width: 100%;
  height: 15px;
  padding: 7px;
  color: #065A05;
}

.notif-item-empty {
  border: 1px solid #004518;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-notif-div {
  width: 50%;
  margin: 0 auto;
  border-top: 2px solid #004518;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #004518;
}

.log-item-div {
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  cursor: context-menu;
  margin: 0 0 5px 0;
  border-top: 1px solid #004518;
}
.log-item-div:hover {
  background: rgba(120, 194, 173, 0.5);
}

.log-item-desc {
  width: 100%;
  max-height: 60px;
  font-size: 13px;
  padding: 0 5px 5px 5px;
  overflow: hidden;
  color: #065A05;
  line-height: 17px;
}
.log-item-desc span {
  font-weight: 700;
  font-size: 14px;
}

.log-item-date {
  width: 100%;
  padding: 0 0 0 7px;
  color: #065A05;
  position: relative;
}
.log-item-date i {
  color: #065A05;
  font-size: 15px;
  position: absolute;
  top: 3px;
  right: 12px;
}

.log-color {
  height: 14px;
  width: 17px;
  display: inline-block;
  transform: translateY(2px);
}

.color-1 {
  background: #004518;
}

.color-2 {
  background: #17369B;
}

.log-cool {
  color: cadetblue;
}

.log-hot {
  color: orange;
}

.gh-switch {
  width: 45px;
  height: 20px;
  border-radius: 15px;
  border: 2px solid white;
  background: white;
  position: relative;
  cursor: pointer;
}

.gh-switch-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #02AA0A;
  position: absolute;
  top: 3px;
  left: 27px;
}

.maingh-settings-off {
  background: white;
  border: 2px solid #065A05;
}
.maingh-settings-off .maingh-settings-subdiv-2 {
  color: #004518;
}
.maingh-settings-off i {
  color: #004518;
}
.maingh-settings-off .gh-switch {
  background: #004518;
  border: 2px solid #004518;
}
.maingh-settings-off .gh-switch-circle {
  background: white;
  left: 5px;
}

.profile-maindiv {
  width: 100%;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .profile-maindiv {
    flex-direction: column;
  }
}
.profile-subdiv {
  width: 100%;
  max-width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #004518;
  margin: 30px auto 20px auto;
  padding: 20px 10px;
}

.profile-box-title {
  height: 30px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: absolute;
  top: -15px;
  left: 20px;
  font-size: 20px;
}

.profile-box-edit {
  padding: 5px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15px;
  right: 15px;
}
.profile-box-edit i {
  font-size: 18px;
  color: #004518;
  cursor: pointer;
}

.profile-box-add {
  padding: 5px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15px;
  right: 60px;
}
.profile-box-add i {
  font-size: 18px;
  color: #004518;
  cursor: pointer;
}

.profile-data {
  color: #004518;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 5px 0;
}

.profile-data-acc {
  color: red;
  font-size: 16px;
  font-weight: 700;
}

.profile-data-gh {
  color: #065A05;
  font-size: 16px;
  margin: 0 0 0 15px;
<<<<<<< HEAD
}

.verify-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  display: none;
}

.verify-message-div {
  width: 90vw;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #004518;
  border: 2px solid white;
  text-align: center;
}

.verify-message {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin: 10px auto;
  line-height: 22px;
}

.verify-buttons-div {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verify-button {
  height: 30px;
  width: 80px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  background: #004518;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.verify-button:hover {
  background: white;
  color: #004518;
}

.verify-page-1 {
  z-index: 2021;
}

.verify-page-2 {
  z-index: 2022;
}

.verify-page-3 {
  z-index: 2023;
  background: blue;
}

.show-verify {
  display: flex;
=======
>>>>>>> 530deedcb61a32d7f2b9c545d2eee3fbf3e3d492
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  scroll-behavior: smooth;
}

i {
  color: white;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px white;
  background-color: #78c2ad;
}

.homelogo-div img {
  width: 30px;
}

.navbar-div {
  width: 100%;
  margin: auto;
}

.navbar-1 {
  width: 100%;
  height: 40px;
  position: sticky;
  top: 0;
  background: #78C2AD;
  z-index: 1000;
  display: flex;
  padding: 0 10px 0 0;
  justify-content: space-between;
}

.navbar-1-subdiv {
  height: 40px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-1-subdiv i {
  font-size: 25px;
  color: #065A05;
  cursor: pointer;
}
.navbar-1-subdiv i:hover {
  color: white;
}

.right-menu-div i {
  margin: 0 10px;
}

.navbar-2 {
  padding: 0;
  width: 100%;
  height: 40px;
  position: sticky;
  top: 40;
  z-index: 1000;
  background: white;
  border-bottom: 1px solid #78c2ad;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.hr {
  width: 50%;
  height: 2px;
  background: #78C2AD;
  margin: 10px auto;
}

.content-div {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 0 0 40px 0;
}

.home-div-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-div-1 img {
  width: 100%;
  max-width: 390px;
  margin: auto;
}

.greenhouse-div {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}

.greenhouse-subdiv {
  width: 100%;
  width: 390px;
  height: 240px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 2px solid #78C2AD;
}

.gh-title-div {
  width: 150px;
  height: 30px;
  background: #02AA0A;
  color: white;
  position: absolute;
  top: 20px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  padding: 0 0 0 15px;
  border-radius: 15px;
  font-weight: 700;
  user-select: none;
}

.gh-media-div {
  width: 100%;
  max-width: 390px;
  overflow: hidden;
  cursor: pointer;
}

.gh-media {
  width: 100%;
  max-width: 390px;
}

.gh-tool-div {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.gh-tool-subdiv {
  height: 40px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.gh-tool-subdiv i {
  font-size: 20px;
  color: #004518;
}
.mainmenu-div {
  width: 100%;
  max-width: 278px;
  max-height: 280px;
  position: fixed;
  top: 40px;
  right: -100vw;
  display: flex;
  flex-direction: column;
  z-index: 1002;
  background: white;
  border-left: 1px solid #78C2AD;
  border-bottom: 1px solid #78C2AD;
  direction: rtl;
  overflow: auto;
}
.mainmenu-div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
}
.mainmenu-div::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
.mainmenu-div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px white;
  background-color: #78c2ad;
}

@media only screen and (max-height: 279px) {
  .mainmenu-div {
    height: 100vh;
    padding-bottom: 30px;
  }
}
.mainmenu-navbar-div {
  width: 100%;
  max-width: 278px;
  height: 40px;
  padding: 0 22px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  direction: ltr;
  background: #78C2AD;
  z-index: 1005;
}
.mainmenu-navbar-div i {
  font-size: 25px;
  color: #065A05;
  cursor: pointer;
}
.mainmenu-navbar-div i:hover {
  color: white;
}

.mainmenu-content-div {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 0 0 10px 0;
}

@keyframes openMainmenuDiv {
  0% {
    top: 0;
  }
  100% {
    right: 0;
  }
}
.open-mainmenu-div {
  display: flex;
  flex-direction: column;
  animation-name: openMainmenuDiv;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hide-mainmenu-btn-open {
  opacity: 0;
}

@keyframes closeMainmenuDiv {
  0% {
    right: 0;
  }
  100% {
    right: -500;
  }
}
.close-mainmenu-div {
  animation-name: closeMainmenuDiv;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.hide-mainmenu-btn-close {
  opacity: 0;
}

.mainmenu-bullet-div,
.mainmenu-dropdown-title {
  direction: ltr;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 15px 5px 10px;
  border-radius: 0 0 0 10px;
  font-family: monospace;
  color: #004518;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.mainmenu-bullet-div:hover,
.mainmenu-dropdown-title:hover {
  background: rgba(120, 194, 173, 0.5);
}
.mainmenu-bullet-div i,
.mainmenu-dropdown-title i {
  margin: 0 10px 0 0;
  font-size: 22px;
  color: #004518;
}

.mainmenu-dropdown {
  width: 100%;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px 0 0 0;
}
.mainmenu-dropdown .mainmenu-bullet-div {
  width: calc(100% - 10px);
  padding: 5px 20px 5px 15px;
  font-size: 14px;
  color: #065A05;
}

.mainmenu-dropdown-icon {
  position: absolute;
  right: 10;
}

.show-dropdown {
  height: 100%;
}
.show-dropdown .mainmenu-dropdown-icon {
  transform: rotate(180deg);
}

.mainmenu-dropdown-title {
  position: absolute;
  top: 0;
  left: 0;
}

.dropdown-btn {
  justify-content: space-between;
}

.login-page {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1021;
  background: white;
  color: black;
}
.login-page img {
  width: 50%;
  margin: auto;
}

.login-div {
  width: 80%;
  max-width: 400px;
  margin: 20px auto 0 auto;
  padding: 40px 0 0 0;
  border: 1px solid #02AA0A;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.login-img-div {
  width: 80%;
  max-width: 300px;
  margin: 20px auto;
  position: absolute;
  background: white;
  top: -50px;
  padding: 0 10px;
}
.login-img-div img {
  width: 100%;
}

.login-subdiv {
  height: 40px;
  width: 250px;
  margin: 5px 0 15px 0;
  position: relative;
}

.login-input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 5px 15px 10px 10px;
  border: 1px solid #56B74A;
  color: #004518;
}
.login-input:focus {
  outline: none;
  border: 3px solid #02AA0A;
  border-radius: 0 0 15px 0;
  color: #004518;
}

.login-label {
  font-size: 11px;
  background: white;
  padding: 0 5px;
  color: #56B74A;
  position: absolute;
  bottom: -8px;
  left: 10px;
}

.login-btn {
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 10px auto;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  background: rgba(2, 170, 10, 0.8);
}
.login-btn:hover {
  background: #02aa0a;
}

.hide-login-page {
  display: none;
}

/*# sourceMappingURL=index.css.map */
