$green-1: #78C2AD;
$green-2: #56B74A;
$green-3: #02AA0A;
$green-4: #065A05;
$green-5: #004518;

$light-green: #7ED56F;
$medium-green: #55C57A;
$dark-green: #28B485;

$blue-1: #17369B;
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items:     center;
}

@mixin green-scrollbar{
    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px white;
    }

    &::-webkit-scrollbar
    {
        width: 10px;
        background-color:white;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px white;
        background-color: rgba($green-1, 1);
    }
}


