
.about-div{
    width: 90%;
    max-width: 800px;

    margin: auto;
    color: $green-5;
    font-size: 16px;

    text-align: center;
}
.about-problem{
    text-align: center;
}
.about-solution{
    font-weight: 700;
    text-align: center;
}


// **********CAROUSEL*********
.car-div{
    width: calc(100% - 50px);
    height: 100vh;
    max-height: 500px;
    margin: 0 auto;

    color: white;

    @include green-scrollbar;
    overflow: auto;
    overflow-x:hidden ;
    
    // @include flex-center;
    // flex-direction: column;
    padding: 20px 0 30px 0;

    border-left:  2px solid white;
    &::-webkit-scrollbar {
        width: 4px !important
        }
}

.car-title-div{
width: 100%;
height: 30px;
@include flex-center;

font-weight: 700;
font-size: 20px;

text-align: center;
}

.desc-div{
    width: 90%;
   
    margin: 20px auto 10px auto;
    padding: 0 10px;

    font-size: 16px;
    text-align: center;
}

.car-img{
    width: 90%;
    display: block;
    margin: 10px auto;
    
    background: white;
}

.car-vid{
    width: 90%;
    display: block;
    margin: 10px auto;

    background: white;
}
