// ******************************************************---CONTACT---
#contact{
    @include mono;
    width: 100%;
    min-height: 100vh;

    position: relative;
    
}

.main-contact-div{
    width: 100%;
    // min-height: 100vh;

    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
}

.contact-div{
    width: 100%;
    // min-height: 50vh;
    margin: 5px 0;
}

.contact-div-1{
    
    @include ver-center;
}

.contact-cover-div{
    width: 90%;
    max-width: 777px;
    margin: 0 auto 45px auto;
    img{
        width: 100%;
    }

    position: relative;

    background: rgba($cyan-4, 0.3);
    border: 5px solid rgba($cyan-5, 02);
    border-radius: 25px;
}


.contact-profile-pic-div{
    width: 100%;
    height: 5px;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;

    @include hor-center;
}

.contact-profile-pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
    @include hor-center;

    img{
        height: 100%;
    }
}

.contact-profile-name-div, .contact-profile-position-div{
    width: 100%;
    height: 30px;

    @include hor-center;
}

.contact-profile-name{
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 600;
    color: $green-5;

    text-align: center;
}

.contact-profile-position{
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    color: $green-5;
}

@media only screen and (min-width: 501px){
.contact-profile-name{
    font-size: 30px;
}
.contact-profile-position{
    font-size: 17px;
    
}
}

.contact-resume-div{

    width: 100%;
    margin: 10px 0; 
    @include ver-center;

    a{
        width: 10%;
        padding: 2px;
        img{
            width: 100%;
            margin: 5px;               
        }

        &:hover{
            width: 12%;
        }
    }

    p{
        font-size: 22px;
        font-weight: 600;
        color: rgba(red, 0.7);
    }

    
}

.contact-div-2{    

    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.contact-social-div{
    width: 90%;
    margin: 10px auto 20px auto;
   
    @include hor-center;

}

.contact-social-link{
    width: 20%;
    max-width: 45px;
    margin: 0 5%;
    display: inline-block;

    img{
        display: inline-block;
        width: 100%;
        border-radius: 5px;
    }
    
}

.contact-info-div{
    width: 90%;
    height: 30px;

    padding: 0 20px;
    @include flex-center;
    font-family: mono;
    font-size: 12px;
    color: $green-4;
    i{
        font-size: 20px;
        color: $green-1;
        margin: 0 10px;
    }   
}

@media only screen and (min-width: 501px){
.contact-info-div{
    font-size: 17px;
}
}











// ******************************************************---CONTACT---