// body{
//     height: 100vh;
//     overflow: hidden;
// }

.services-cards-div{
    width: 100%;
    max-width: 1000px;
    background: rgba($green-5, 0.2);
    margin: 0 auto 30px auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.services-card-div{
    width:  250px;
    height: 250px;

    opacity: 0.85;
    margin: 5px auto 55px auto;
    background: white;
    border-radius: 20px 20px 0 0;
    position: relative;
    &:hover{
        cursor: pointer;
        opacity: 1;

        i{   font-size: 175px;}
        img{ width:      105%;}
    }

}
@media only screen and (min-width: 540px){
    .services-cards-div{        
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 780px){
    .services-cards-div{        
        grid-template-columns: repeat(3, 1fr);
    }
}
.services-card-image-div{
    width:  250px;
    height: 250px;
    @include flex-center;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    img{
        width: 100%;
    }
}
.services-card-logo-div{
    width:  200px;
    height: 200px;

    position: absolute;
    top:  25px;
    left: 25px;
    @include flex-center;
    i{
        font-size: 150px;
        color: $green-1;
    }
}
.services-card-title-div{
    height: 70px;
    width: 200px;

   background: rgba(white, 0.8);

    position: absolute;
    bottom: -35px;
    left:    25px;

    border-radius: 10px;

    @include flex-center;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: $green-5;
}



.modal-div{
    width:  100vw;
    height: calc(100vh - 40px);

    position: fixed;
    top:  40px;
    left: 0;

    background: rgba($green-1, 0.7);
    z-index: 1005;

    display: none;
}
.modal-content-div{
    height: calc(100vh - 40px);
    width: 100%;
    max-width: 700px;

    background: white;
    padding: 35px 0 0 0;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    .modal-close-btn{
        font-size: 30px;
        color: rgba(black, 0.7);
        position:absolute;
        top:   5px;
        right: 15px;
        &:hover{
        color: rgba(black, 1.0);
        cursor: pointer;
        }
    }
}

.modal-iframe{
    width: 100%;
    height: calc(100vh - 35px);
    border-top: 2px solid $green-1;
}

.showmodal{
    display: flex;

}

/* Hide scrollbar for Chrome, Safari and Opera */
//   .hidescrollbar {
//     display: none;
//   }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hidescrollbar {
    // height: 100vh;
    overflow: hidden;
  }

