.modal-body{
    width: 100%;

    display: flex;
    flex-direction: column;
}

.modal-carousel-div{
    width: 100%;
    padding: 0 30px;
    background: $green-5;
}

.button-1, .button-2{
    width: 30px;
    max-height: 500px;
    position: fixed;
    top: 0; 
}

.indicators{
    // position: fixed;
    // bottom: 2vh;

    position: absolute;
    bottom: -10px;
}

.car-content-div{
    width: 100%;
    height: 1000px;
    
    // background: red;
}


// **********HOME-PAGE**********
.home-carousel{
    width: 100%;
    max-width: 800px;
    height: 100vh;
    max-height: 500px;

    margin: auto;
    margin: 0 auto 20px auto;
}
.carousel-slide{
    position: relative;
    height: 100vh;
    max-height: 500px;
}
.indicators-1{
    position: absolute;
    bottom: -10px;
}
.button-3, .button-4{
    height: 100vh;
    max-height: 500px;
    width: 30px;    
    position: absolute;
}
.button-3{   
    left: -30px;
}
.button-4{
    right: -30px;
}


