.spec-div{

    max-width: 800px;

    color: $green-5;

    margin: 0 auto 20px auto;

    background: rgba($green-3, 0.2);
    border-bottom: 2px solid $green-5;
    border-left: 2px solid $green-5;

    border-radius: 0 0 0 25px;
}