.val-maindiv{
    width: 100%;
    max-width: 800px;
    min-height: 400px;

    margin: 0 auto;
    padding: 10px 0;
    border: 1px solid $green-1;
}

.val-logo-div{
    width: 100%;
    @include flex-center;
    margin: 0 0 20px 0;
    img{
        width: 80%;
        max-width: 200px;
        margin: auto;
    }
}

.val-description-div{
    width: 90%;
    max-width: 800px;
    margin: auto;
    color: $green-5;
    font-size: 14px;
    .desc-1{
        font-weight: 700;
    }
}


.val-header-div{
    width: 90%;
    max-width: 800px; 

    margin: 20px auto;
}
.val-header-row{
    display: flex;
    flex-direction: column;
}
.val-header-title{
    height: 30px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 0 10px;
    color: $green-5;

    border: 1px solid $green-5;
}
.val-header-answer{
    width: 100%;;
    border: 1px solid $green-5;
}

.val-remarks-div{
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}
.val-remarks-name{
    color: $green-5;
    font-weight: 700;
}
.val-remarks-answer{
    width: 100%;
    max-width: 800px;
    min-height: 50px;
    margin: 0 auto;
    border: 1px solid $green-4;
}




.val-table{
    width: 90%;
    max-width: 800px;
    min-height: 400px;
    
    margin: 0 auto;

    border: 1px solid $green-1;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;

}

.valrow-title{
    font-weight: 700;
    font-size: 18px;
    color: $green-5;
    margin: 20px 0 0 0;
} 
.val-desc-div{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.val-desc-item{
    font-size: 16px;
    color: $green-4;
    font-weight: 400;
    display: block;
}



.val-row{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.val-row-1{
    min-height: 70px;
    border: 1px solid $green-5;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    // padding: 5px 10px 5px 5px;
}
.valrow-data{
    line-height: 16px;
    font-size: 14px;
    color: black;
    // margin: 0 5px 5px 15px;
}
.data-text{
    display: inline-block;
    margin: 10px 0 0 15px;

}
.val-ratediv{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.val-item{
    display: flex;
    flex-direction:column;
    margin: 0 auto 0 auto;
}

.val-row-botdiv{
    display: flex;
    flex-direction: row;
}
.val-row-subdiv{
    width: 20%;
    height: 30px;

    border: 1px solid $green-5;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

    cursor:context-menu;
    user-select: none;
}

.val-row-subdiv-3{
    cursor:pointer;
    margin: 0 0 5px 0;
}
.valrow-data-box{
    display: flex;
    align-items: center;
    display: none;
}
@media only screen and (min-width: 600px){
    .val-header-row{
        flex-direction: row;
    }
    .val-header-title{    
        width: 120px;
    }
    .val-header-answer{
        width: calc(100% - 120px);
    }
    
    .valrow-data-box{
        display: flex;
        height: 30px;
        width: 100%;
        border-bottom: 2px solid rgba($green-5, 0.3);
        // transform: translate(0, -9px);
        padding: 0 0 0 10px;

        font-weight: 700;
        font-size: 18px;
        color: $green-5;
    }
    .val-item{
        flex-direction:row;
        width: 100%;
    }
    .val-row-1{
        width: 60%;
        padding: 0 0 5px 0;
    }
    

    .val-ratediv{
        width: 40%;
        display: grid;
        grid-template-rows: 30px auto;
       
    }
    .val-row-subdiv-3{
       height: auto;
       margin: 0;
    }

    .val-desc-div{
        width: 100%;
        display: flex;
        flex-direction: row;
    
    }
    .val-desc-item{
        font-size: 13px;
        margin: 0 10px 0 0;
    }
    
}

@media only screen and (min-width: 800px){
    .val-desc-div{
        width: 100%;
        display: flex;
        flex-direction: row;
    
    }
    .val-desc-item{
        font-size: 16px;
        margin: 0 20px 0 0;
    }

}
